<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Cloud Bus Pass</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Welcome, {{ user_name }}</h1>

    <p>You are successfully logged in.</p>

    <p>
        <a href="{{ url_for('routes') }}">
            View available routes
        </a>
    </p>
 

    <p>
        <a href="{{ url_for('my_bookings') }}">
            My Bookings
        </a>
    </p>
    <p>
    <a href="{{ url_for('admin') }}">
        Admin Panel
    </a>
    </p>

    <p>
        <a href="{{ url_for('logout') }}">
            Logout
        </a>
    </p>

</div>

</body>
</html>